awscli==1.43.4
botocore==1.41.4
colorama==0.4.6
docutils==0.22.3
jmespath==0.10.0
pyasn1==0.6.2
python-dateutil==2.9.0.post0
PyYAML==6.0.3
rsa==4.9.1
s3transfer==0.15.0
six==1.17.0
urllib3==2.5.0
yamllint==1.37.1
requests==2.32.5
