awscli==1.32.13
botocore==1.34.13
colorama==0.4.6
docutils==0.20.1
jmespath==1.0.1
pyasn1==1.6.2
python-dateutil==2.8.2
PyYAML==6.0.1
rsa==4.7.2
s3transfer==0.10.0
six==1.16.0
urllib3==2.1.0
yamllint==1.33.0
requests==2.31.0
