name: Docker Build
on: [push]

jobs:
  docker-build-go-build:
    name: docker build go-build
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: "1"
    steps:
    - name: docker version
      run: docker version
    - uses: actions/checkout@master
    - name: build
      run: docker build --progress plain --iidfile go-build/image.iid -f go-build/Dockerfile go-build/
    - name: tag
      run: |
        docker tag $(< go-build/image.iid) ghcr.io/qlik-oss/go-build
        docker tag $(< go-build/image.iid) ghcr.io/qlik-oss/go-build:$(date +'%Y-%m-%d')
        docker tag $(< go-build/image.iid) qlik/go-build
        docker tag $(< go-build/image.iid) qlik/go-build:$(date +'%Y-%m-%d')
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GHCR_TOKEN }}
      if: github.ref == 'refs/heads/master' && github.repository == 'qlik-oss/dockerfiles'
    - name: login to DockerHub
      run: |
        echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login --username ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      if: github.ref == 'refs/heads/master' && github.repository == 'qlik-oss/dockerfiles'
    - name: docker push
      run: |
        docker push ghcr.io/qlik-oss/go-build
        docker push ghcr.io/qlik-oss/go-build:$(date +'%Y-%m-%d')
        docker push qlik/go-build
        docker push qlik/go-build:$(date +'%Y-%m-%d')
      if: github.ref == 'refs/heads/master' && github.repository == 'qlik-oss/dockerfiles'
  docker-build-gradle:
    name: docker build gradle
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: "1"
    steps:
    - name: docker version
      run: docker version
    - uses: actions/checkout@master
    - name: build
      run: docker build --progress plain --iidfile gradle/image.iid -f gradle/Dockerfile gradle/
    - name: tag
      run: |
        docker tag $(< gradle/image.iid) ghcr.io/qlik-oss/gradle
        docker tag $(< gradle/image.iid) ghcr.io/qlik-oss/gradle:$(date +'%Y-%m-%d')
        docker tag $(< gradle/image.iid) qlik/gradle
        docker tag $(< gradle/image.iid) qlik/gradle:$(date +'%Y-%m-%d')
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GHCR_TOKEN }}
      if: github.ref == 'refs/heads/master' && github.repository == 'qlik-oss/dockerfiles'
    - name: login to DockerHub
      run: |
        echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login --username ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      if: github.ref == 'refs/heads/master' && github.repository == 'qlik-oss/dockerfiles'
    - name: docker push
      run: |
        docker push ghcr.io/qlik-oss/gradle
        docker push ghcr.io/qlik-oss/gradle:$(date +'%Y-%m-%d')
        docker push qlik/gradle
        docker push qlik/gradle:$(date +'%Y-%m-%d')
      if: github.ref == 'refs/heads/master' && github.repository == 'qlik-oss/dockerfiles'
  docker-build-node-build:
    name: docker build node-build
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: "1"
    steps:
    - name: docker version
      run: docker version
    - uses: actions/checkout@master
    - name: build
      run: docker build --progress plain --iidfile node-build/image.iid -f node-build/Dockerfile node-build/
    - name: tag
      run: |
        docker tag $(< node-build/image.iid) ghcr.io/qlik-oss/node-build
        docker tag $(< node-build/image.iid) ghcr.io/qlik-oss/node-build:$(date +'%Y-%m-%d')
        docker tag $(< node-build/image.iid) qlik/node-build
        docker tag $(< node-build/image.iid) qlik/node-build:$(date +'%Y-%m-%d')
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GHCR_TOKEN }}
      if: github.ref == 'refs/heads/master' && github.repository == 'qlik-oss/dockerfiles'
    - name: login to DockerHub
      run: |
        echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login --username ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      if: github.ref == 'refs/heads/master' && github.repository == 'qlik-oss/dockerfiles'
    - name: docker push
      run: |
        docker push ghcr.io/qlik-oss/node-build
        docker push ghcr.io/qlik-oss/node-build:$(date +'%Y-%m-%d')
        docker push qlik/node-build
        docker push qlik/node-build:$(date +'%Y-%m-%d')
      if: github.ref == 'refs/heads/master' && github.repository == 'qlik-oss/dockerfiles'
  docker-build-py-build:
    name: docker build py-build
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: "1"
    steps:
    - name: docker version
      run: docker version
    - uses: actions/checkout@master
    - name: build
      run: docker build --progress plain --iidfile py-build/image.iid -f py-build/Dockerfile py-build/
    - name: tag
      run: |
        docker tag $(< py-build/image.iid) ghcr.io/qlik-oss/py-build
        docker tag $(< py-build/image.iid) ghcr.io/qlik-oss/py-build:$(date +'%Y-%m-%d')
        docker tag $(< py-build/image.iid) qlik/py-build
        docker tag $(< py-build/image.iid) qlik/py-build:$(date +'%Y-%m-%d')
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GHCR_TOKEN }}
      if: github.ref == 'refs/heads/master' && github.repository == 'qlik-oss/dockerfiles'
    - name: login to DockerHub
      run: |
        echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login --username ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      if: github.ref == 'refs/heads/master' && github.repository == 'qlik-oss/dockerfiles'
    - name: docker push
      run: |
        docker push ghcr.io/qlik-oss/py-build
        docker push ghcr.io/qlik-oss/py-build:$(date +'%Y-%m-%d')
        docker push qlik/py-build
        docker push qlik/py-build:$(date +'%Y-%m-%d')
      if: github.ref == 'refs/heads/master' && github.repository == 'qlik-oss/dockerfiles'
  docker-build-socat:
    name: docker build socat
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: "1"
    steps:
    - name: docker version
      run: docker version
    - uses: actions/checkout@master
    - name: build
      run: docker build --progress plain --iidfile socat/image.iid -f socat/Dockerfile socat/
    - name: tag
      run: |
        docker tag $(< socat/image.iid) ghcr.io/qlik-oss/socat
        docker tag $(< socat/image.iid) ghcr.io/qlik-oss/socat:$(date +'%Y-%m-%d')
        docker tag $(< socat/image.iid) qlik/socat
        docker tag $(< socat/image.iid) qlik/socat:$(date +'%Y-%m-%d')
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GHCR_TOKEN }}
      if: github.ref == 'refs/heads/master' && github.repository == 'qlik-oss/dockerfiles'
    - name: login to DockerHub
      run: |
        echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login --username ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      if: github.ref == 'refs/heads/master' && github.repository == 'qlik-oss/dockerfiles'
    - name: docker push
      run: |
        docker push ghcr.io/qlik-oss/socat
        docker push ghcr.io/qlik-oss/socat:$(date +'%Y-%m-%d')
        docker push qlik/socat
        docker push qlik/socat:$(date +'%Y-%m-%d')
      if: github.ref == 'refs/heads/master' && github.repository == 'qlik-oss/dockerfiles'
  docker-build-tiny-build:
    name: docker build tiny-build
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: "1"
    steps:
    - name: docker version
      run: docker version
    - uses: actions/checkout@master
    - name: build
      run: docker build --progress plain --iidfile tiny-build/image.iid -f tiny-build/Dockerfile tiny-build/
    - name: tag
      run: |
        docker tag $(< tiny-build/image.iid) ghcr.io/qlik-oss/tiny-build
        docker tag $(< tiny-build/image.iid) ghcr.io/qlik-oss/tiny-build:$(date +'%Y-%m-%d')
        docker tag $(< tiny-build/image.iid) qlik/tiny-build
        docker tag $(< tiny-build/image.iid) qlik/tiny-build:$(date +'%Y-%m-%d')
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GHCR_TOKEN }}
      if: github.ref == 'refs/heads/master' && github.repository == 'qlik-oss/dockerfiles'
    - name: login to DockerHub
      run: |
        echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login --username ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      if: github.ref == 'refs/heads/master' && github.repository == 'qlik-oss/dockerfiles'
    - name: docker push
      run: |
        docker push ghcr.io/qlik-oss/tiny-build
        docker push ghcr.io/qlik-oss/tiny-build:$(date +'%Y-%m-%d')
        docker push qlik/tiny-build
        docker push qlik/tiny-build:$(date +'%Y-%m-%d')
      if: github.ref == 'refs/heads/master' && github.repository == 'qlik-oss/dockerfiles'
