name: Docker Build
on: [push]

jobs:
{{- range .dir }}{{ if and (and (file.IsDir .) (file.Exists (filepath.Join . "Dockerfile")) (not (strings.HasPrefix "." .))) (not (file.Exists (filepath.Join . ".ignore"))) }}
  docker-build-{{ . }}:
    name: docker build {{ . }}
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: "1"
    steps:
    - name: docker version
      run: docker version
    - uses: actions/checkout@master
    - name: build
      run: docker build --progress plain --iidfile {{ . }}/image.iid -f {{ . }}/Dockerfile {{ . }}/
    - name: tag
      run: |
        docker tag $(< {{ . }}/image.iid) ghcr.io/qlik-oss/{{ . }}
        docker tag $(< {{ . }}/image.iid) ghcr.io/qlik-oss/{{ . }}:$(date +'%Y-%m-%d')
        docker tag $(< {{ . }}/image.iid) qlik/{{ . }}
        docker tag $(< {{ . }}/image.iid) qlik/{{ . }}:$(date +'%Y-%m-%d')
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: {{ "${{ github.repository_owner }}" }}
        password: {{ "${{ secrets.GHCR_TOKEN }}" }}
      if: github.ref == 'refs/heads/master' && github.repository == 'qlik-oss/dockerfiles'
    - name: login to DockerHub
      run: |
        echo {{"${{ secrets.DOCKERHUB_PASSWORD }}"}} | docker login --username {{ "${{ secrets.DOCKERHUB_USERNAME }}" }} --password-stdin
      if: github.ref == 'refs/heads/master' && github.repository == 'qlik-oss/dockerfiles'
    - name: docker push
      run: |
        docker push ghcr.io/qlik-oss/{{ . }}
        docker push ghcr.io/qlik-oss/{{ . }}:$(date +'%Y-%m-%d')
        docker push qlik/{{ . }}
        docker push qlik/{{ . }}:$(date +'%Y-%m-%d')
      if: github.ref == 'refs/heads/master' && github.repository == 'qlik-oss/dockerfiles'
{{- end }}{{ end }}
