name: Docker Build
on: [push]

jobs:
{{- range .dir }}{{ if and (and (file.IsDir .) (file.Exists (filepath.Join . "Dockerfile")) (not (strings.HasPrefix "." .))) (not (file.Exists (filepath.Join . ".ignore"))) }}
  docker-build-{{ . }}:
    name: docker build {{ . }}
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: "1"
    steps:
    - name: docker version
      run: docker version
    - uses: actions/checkout@master
    - name: build
      run: docker build --progress plain --iidfile {{ . }}/image.iid -f {{ . }}/Dockerfile {{ . }}/
    - name: tag
      run: |
        docker tag $(< {{ . }}/image.iid) docker.pkg.github.com/{{ "${{ github.repository }}" }}/{{ . }}
        docker tag $(< {{ . }}/image.iid) qlik/{{ . }}
        # version tag
        docker tag $(< {{ . }}/image.iid) qlik/{{ . }}:$(date +'%Y-%m-%d')
    - name: login
      run: |
        echo {{"${{ secrets.GITHUB_TOKEN }}"}} | docker login docker.pkg.github.com --username {{ "${{ github.actor }}" }} --password-stdin
        echo {{"${{ secrets.DOCKERHUB_PASSWORD }}"}} | docker login --username {{ "${{ secrets.DOCKERHUB_USERNAME }}" }} --password-stdin
      if: github.ref == 'refs/heads/master' && github.repository == 'qlik-oss/dockerfiles'
    - name: docker push
      run: |
        docker push docker.pkg.github.com/{{ "${{ github.repository }}" }}/{{ . }}
        docker push qlik/{{ . }}
        docker push qlik/{{ . }}:$(date +'%Y-%m-%d')
      if: github.ref == 'refs/heads/master' && github.repository == 'qlik-oss/dockerfiles'
{{- end }}{{ end }}
